<main class="tabs">
  <header class="tabs__header">
    @for (item of dataHomeTabs.tabItems; track $index) {
      <div class="tabs__tab" [class.selected]="dataHomeTabs.selectedTab === item.name">
        <button (click)="selectTab(item.name)" class="tab__button" [class.active]="dataHomeTabs.selectedTab === item.name">
          <fa-icon
            class="tab__icon"
            [icon]="item.icon"
          ></fa-icon>
          <span class="tab__name">{{ item.name }}</span>
        </button>
      </div>
    }
  </header>
  
  @for (item of dataHomeTabs.tabItems; track $index) {
    @if(dataHomeTabs.selectedTab !== item.name) { 
      <div class="tabs__content">
        <p class="content__text">This is <b>{{ item.name }}</b> Tab</p>
      </div>
    }
  }
</main>