<section class="login">
    <div class="login__form-container">
        
        <form class="login__form">
            <h1 class="login__form-title">Login</h1>

            <div class="form__input">
                <label 
                    class="input-label" 
                    for="email"
                >Email</label>
                
                <input 
                    class="input-input" 
                    type="email" 
                    name="email" 
                    id="email" 
                    placeholder="Email" 
                    required>
            </div>
            
            <div class="form__input">
                <label 
                    class="input-label" 
                    for="password"
                >
                    Password
                </label>

                <input 
                    class="input-input" 
                    type="password" 
                    name="password" 
                    id="password" 
                    placeholder="Password" 
                    required>
            </div>
            
            <div class="form__input">
                <button class="input-button" type="submit">
                    Login
                </button>
            </div>
        </form>

    </div>
</section>